service.node-red/data/flows.json
[{"id":"6441a943.cd456","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c849ebe2.2ad848","type":"websocket-listener","z":"","path":"/location","wholemsg":"true"},{"id":"3a877342.ae39e4","type":"csv","z":"6441a943.cd456","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":630,"y":700,"wires":[["98fd91a.218b6f","494f7198.27bbc"]]},{"id":"a1cd8113.c0a19","type":"file in","z":"6441a943.cd456","name":"","filename":"/app/sessions.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":640,"wires":[["3a877342.ae39e4"]]},{"id":"98fd91a.218b6f","type":"debug","z":"6441a943.cd456","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":700,"wires":[]},{"id":"62090bc1.7747d4","type":"exec","z":"6441a943.cd456","command":"python3 /app/sessions.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":500,"wires":[["d87a8198.099988"],["d87a8198.099988"],["d87a8198.099988"]]},{"id":"5a9eea8c.7bff94","type":"inject","z":"6441a943.cd456","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["62090bc1.7747d4","a1cd8113.c0a19","d9b0fc87.cf279","93e8cc6e.c2ae"]]},{"id":"d87a8198.099988","type":"debug","z":"6441a943.cd456","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":500,"wires":[]},{"id":"d9b0fc87.cf279","type":"exec","z":"6441a943.cd456","command":"python3 /app/coordinates.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":480,"y":420,"wires":[["c578bca5.ec7ef"],["c578bca5.ec7ef"],["c578bca5.ec7ef"]]},{"id":"c578bca5.ec7ef","type":"debug","z":"6441a943.cd456","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":420,"wires":[]},{"id":"deab33dd.c1908","type":"csv","z":"6441a943.cd456","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":660,"y":820,"wires":[["72d2b609.0e5848","e89343dc.f1d3e"]]},{"id":"93e8cc6e.c2ae","type":"file in","z":"6441a943.cd456","name":"","filename":"/app/coordinates_lon_lat.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":820,"wires":[["deab33dd.c1908"]]},{"id":"72d2b609.0e5848","type":"debug","z":"6441a943.cd456","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":820,"wires":[]},{"id":"e89343dc.f1d3e","type":"http response","z":"6441a943.cd456","name":"","statusCode":"","headers":{},"x":930,"y":1000,"wires":[]},{"id":"494f7198.27bbc","type":"http response","z":"6441a943.cd456","name":"","statusCode":"","headers":{},"x":1060,"y":620,"wires":[]},{"id":"26e4e01a.c4838","type":"http in","z":"6441a943.cd456","name":"","url":"/devices","method":"get","upload":false,"swaggerDoc":"","x":130,"y":660,"wires":[["a1cd8113.c0a19"]]},{"id":"cc8da5d5.af8a78","type":"http in","z":"6441a943.cd456","name":"","url":"location","method":"get","upload":false,"swaggerDoc":"","x":70,"y":820,"wires":[["93e8cc6e.c2ae"]]}]